@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-vietnam: "Be Vietnam Pro", sans-serif;
  --color-bg: #364153;
  --color-tabbg: #20293a;
  --color-searchbarbg: #20293a;
  --color-whitetext: #cdd5e0;
  --color-graytext: #97a3b6;
}

/* background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%); */
